/* all general styles */

.body {
    padding-bottom: 78px;
}

.border {
    border-radius: 4pt;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg,#c12722 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.list-group-item:first-child {
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
}

.list-group-item:last-child {
    border-bottom-right-radius: 4pt;
    border-bottom-left-radius: 4pt;
}

.bg-red {
    background-color: #c12722 !important;
}

.fixed-bottom.button {
    bottom: 73px;
}

.fixed-bottom.button .border-red {
    border-color: #c12722 !important;
}

.text-black {
    color: #000;
}

.navigation {
    background-color: #fff;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li a {
    display: block;
    height: 30px;
}

.navigation ul li .go {
    background: url("../data/img/icon-go-grey.svg") no-repeat top center;
}

.navigation ul li .news {
    background: url("../data/img/icon-news-grey.svg") no-repeat top center;
}

.navigation ul li .about {
    background: url("../data/img/icon-about-grey.svg") no-repeat top center;
}

.navigation ul li .go.active {
    background: url("../data/img/icon-go-red.svg") no-repeat top center;
}

.navigation ul li .news.active {
    background: url("../data/img/icon-news-red.svg") no-repeat top center;
}

.navigation ul li .about.active {
    background: url("../data/img/icon-about-red.svg") no-repeat top center;
}

.route-active {
    display: block;
}

.route-inactive {
    display: none;
}
