/* all general styles */

.body {
    padding-bottom: 78px;
}

.bg-red {
    background-color: #c12722 !important;
}

.fixed-bottom.button {
    bottom: 73px;
}

.fixed-bottom.button .border-red {
    border-color: #c12722 !important;
}

.text-black {
    color: #000;
}

.navigation {
    background-color: #fff;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li a {
    display: block;
    height: 30px;
}

.navigation ul li .go {
    background: url("../data/img/icon-go-grey.svg") no-repeat top center;
}

.navigation ul li .news {
    background: url("../data/img/icon-news-grey.svg") no-repeat top center;
}

.navigation ul li .about {
    background: url("../data/img/icon-about-grey.svg") no-repeat top center;
}

.navigation ul li .go.active {
    background: url("../data/img/icon-go-red.svg") no-repeat top center;
}

.navigation ul li .news.active {
    background: url("../data/img/icon-news-red.svg") no-repeat top center;
}

.navigation ul li .about.active {
    background: url("../data/img/icon-about-red.svg") no-repeat top center;
}

.route-active {
    display: block;
}

.route-inactive {
    display: none;
}
