/* styles only for components on the page go */

h1 a {
  color: #000;
}

canvas#sign {
  background-color: #fff;
}

.place-data .placeName {
  font-weight: 700;
}

.place-data .placeType {
  color: #ccc;
  font-size: 0.8rem;
}

.go .info-text {
    font-size: 0.8rem;
}
