/* styles only for components on the page splash (index) */

body.index {
  overflow: hidden;
}

#start-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#start-container .splash {
  height: 100vh;
  margin-left: -100vh;

  position: absolute;
  top: 0;
  left: 50vw;
}

#start-container .logo {
  height: 30vh;
  margin-left: -12vh;

  position: absolute;
  top: 50vh;
  left: 50vw;
}
